# Homework 12

https://scikit-learn.org/0.15/modules/scaling_strategies.html#incremental-learning

* Implement a mini batch functionality to train a regressor.
    - (Optional) If anyone want to do this in a pipeline can do this: https://koaning.github.io/tokenwiser/api/pipeline.html

* Save model, load the model again and test it on `X_test`

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
def test_df():
    df = pd.read_csv('https://raw.githubusercontent.com/msaricaumbc/DS_data/master/ds602/car_prices/car_prices.csv', low_memory=False)

    df = df.sample(5000, random_state=100).reset_index(drop=True)
    
    y = df['sellingprice']
    df.drop('sellingprice', axis=1, inplace=True)
    X = df
    
    return X,y

def partial_df():
    df = pd.read_csv('https://raw.githubusercontent.com/msaricaumbc/DS_data/master/ds602/car_prices/car_prices.csv', low_memory=False)
   
    while(True):
        yield df.sample(100).reset_index(drop=True)
        
gen = partial_df()

In [3]:
X_test, y_test = test_df()

In [4]:
# each time you call this you will get a new slice of the dataframe.
next(gen)

,year,make,model,trim,body,transmission,vin,state,condition,odometer,color,interior,seller,mmr,sellingprice,saledate
0,2012,Toyota,Sienna,LE 7-Passenger,Minivan,NaN,5tdjk3dc7cs035933,pa,2.8,46125.0,black,gray,ingersoll auto of danbury,19800,18900,Fri Feb 20 2015 01:00:00 GMT-0800 (PST)
1,2012,Jeep,Wrangler,Unlimited Rubicon,SUV,manual,1c4bjwfg6cl213583,mi,4.1,34400.0,black,black,automobiles paille inc,30400,26300,Thu May 21 2015 02:30:00 GMT-0700 (PDT)
2,2012,Lexus,ES 350,Base,Sedan,automatic,jthbk1eg9c2490847,fl,3.7,36772.0,gray,beige,jm lexus,21800,21500,Fri Jan 16 2015 01:30:00 GMT-0800 (PST)
3,2014,GMC,Savana Cargo,2500,Van,automatic,1gtw7fca7e1904779,ca,2.9,6253.0,white,gray,u-haul,22400,22500,Thu Feb 05 2015 03:30:00 GMT-0800 (PST)
4,2011,BMW,3 Series,335i,Convertible,automatic,wbadx7c57be579679,nj,3.5,49304.0,black,brown,bmw of mount laurel,24900,24600,Wed Jan 21 2015 01:30:00 GMT-0800 (PST)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,2012,Ford,Fusion,SE,Sedan,automatic,3fahp0ha8cr415864,ca,3.5,45827.0,black,black,"ford motor credit company,llc",10750,10100,Thu May 28 2015 05:30:00 GMT-0700 (PDT)
96,1999,Chrysler,Sebring,JXi,Convertible,automatic,3c3el55hxxt585647,md,1,102767.0,gold,black,credit acceptance corp/vrs/southfield,825,275,Tue Dec 30 2014 13:00:00 GMT-0800 (PST)
97,2012,Nissan,Leaf,SL,Hatchback,automatic,jn1az0cp2ct025541,fl,4.8,13730.0,red,gray,nissan-infiniti lt,11950,11800,Wed Feb 04 2015 01:00:00 GMT-0800 (PST)
98,2004,Ford,Explorer,XLT,SUV,NaN,1fmzu73k54ub33056,nc,4.4,96387.0,white,gray,medlin buick gmc mazda,3750,6200,Tue Feb 10 2015 01:15:00 GMT-0800 (PST)
99,2012,Volkswagen,Golf,2.5L PZEV,Hatchback,NaN,wvwdb7aj3cw326744,pa,2.6,60997.0,blue,black,the hertz corporation,9300,8300,Fri Feb 13 2015 01:00:00 GMT-0800 (PST)